:root {
  --cyan: #aedee0;
  --dcyan: #123e47;
  --salmon: #ef9d71;
}
body{
  transition: background-color ease-out .5s;
  -webkit-transition: background-color ease-out .5s;
  -moz-transition: background-color ease-out .5s;
  -ms-transition: background-color ease-out .5s;
  -o-transition: background-color ease-out .5s;
}
*::selection {
  background-color: var(--salmon);
  color: white;
}
.vdocont{
    clip-path: circle(var(--clip) at 50% 50%);
}
body[theme="black"] {
  background-color: #000;
}
body[theme="black"] .section {
  color: #fff;
}
body[theme="cyan"] {
  background-color: var(--cyan);
}
body[theme="cyan"] .section {
  color: var(--dcyan);
}
body[theme="salmon"] {
  background-color: var(--salmon);
}
body[theme="salmon"] .section {
  color: rgb(72, 34, 27);
}
body[theme="white"] {
  background-color: white;
}
body[theme="white"] .section {
  color: #000;
}

body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
